/* start global rules */
:root{
    --min-color:#10cab7;
    --section-padding: 60px;
    --section-background: #f6f6f6;

}
html{
    scroll-behavior: smooth;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* End global rules  */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen7 */
@media (min-width: 768px) {
    .container{
        width: 768px;
    }
}
/* medium screen */
@media (min-width: 992px) {
    .container{
        width: 992px;
    }
}
/* large screen */
@media (min-width: 1200px) {
    .container{
        width: 1200px;
    }
}
/* Start Header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0%;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;

}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul{
    display: block;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid black;
}
.landing{
    background-image: url(../images/3.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    margin: 0; 
    position: relative;
}
.landing .intro_text{
    position:absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    max-width: 100%;
}
.landing .intro_text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--min-color);

}
.landing .intro_text p{
    font-size: 19px;
} 
/* start features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--min-color);

}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End features */
/* Start Services */
.special-heading{
    color: #ebeceb;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0%;
}
.special-heading + p{
    margin: -30px 0 0 ;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
.services{
    padding-top:60px ;
    padding-bottom: 60px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .serv{
    display: flex;
    margin-bottom: 40px;
}
/* will make the services its display in columns even if the screen is telephone */
@media (max-width: 767px){
    .services .services-content .serv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .serv i{
    color: var(--min-color);
    flex-basis: 60px;
}
/* will make the space between the icoon and the paragraphs */
.services .services-content .serv .text{
    flex: 1;
}
/* will make the changes in the text h3 only  */
.services .services-content .serv .text h3{
    margin: 0 20px;
}
/* will make the changes in the paragraph under icons in the services sections */
.services .services-content .serv .text p{
    color: #444;
    line-height: 1.8;
    font-weight: 300;
}
/* his influence on the image section only at Services */
.services .services-content .image{
    text-align: center;
    position: relative;
}
/* Will make the column before my image in services */
.services .services-content .image::before{
    content: "";
    background-color:darkslategrey;
    width: 80px;
    /* will make 50 px in the top and the same thing in the botoom of the image */
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    /* will make the column display before the image as it is -1 */
    z-index: -1;
}
/* if the width of screen 1200 this will not display my photo in services */
@media (max-width:1199px){
    .image-column{
        display: none;
    }
}
/* End Services */
/* Start portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:var(--section-background);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;

}
.portfolio .portfolio-content .card img{
    max-width: 100%;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
    margin: 0px;
}
.portfolio .portfolio-content .card .info p{
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}
/* End Portfolio */
/* start about */
.about{
    padding-top: var(--section-padding);
    padding-bottom:calc(var(--section-padding) + 60px) ;
}
 .about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }

}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color: darkslategrey;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
    
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--min-color);
    border-bottom: 80px solid var(--min-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}
@media (max-width:991px){
    .about .about-content .image::before,
    .about .about-content .image::after
    {
       display: none;
    }
}
.about .about-content .image img{
    max-width: 100%;
    height: 300px;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--min-color);

}
.about .about-content .text p:last-of-type{
    line-height: 2;
    /* color: var(--min-color); */
}
/* End about */
/* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:var(--section-background);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-weight: 800;
    font-size: 35px;
    color:darkslategrey ;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-weight: 800;
    color: var(--min-color);
    text-decoration: none;
    font-size: 40px;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--min-color);
}
@media (max-width: 767px){
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;

    }
}
/* end contact */
/* start footer */
.footer{
    background-color:darkslategrey ;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--min-color);
}
/* end footer */
